.gameplay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-and-leaderboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 100vw;
    height: 45vh;
    margin: 2.5vh;
}

.word-bank {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    border: 1px solid black;
    width: 100vw;
    height: 30vh;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid black;
  }

.grid-item {
    border: 1px solid black;
    height: 10vmin;
    width: 10vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vmin;
  }

  .leaderboard-container {
    display: flex;
    flex-direction: column;
    height: calc(40vmin + 6px);
    width: 25vmin;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .leaderboard-header {
    width: 100%;
    height: 4vmin;
    display: flex;
    align-items: center;
    padding: .5vmin;
    font-size: 3vmin;
  }

  .leaderboard-player-container {
    display: flex;
    align-items: center;
    padding: .5vmin;
    font-size: 3vmin;
    width: 100%;
    height: 4vmin;
  }

  .leaderboard-player-name {
    font-size: 3vmin;
  }

  .leaderboard-player-score {
    font-size: 3vmin;
  }